.page__container {
    margin-top: 70px;
    margin-bottom: 25px;
}
.page__title {
    font-size: 65px;
    font-weight: 300;
    margin-bottom: 50px;
}

.page__subtitle {
    text-align: center;
    font-size: 3em;
}

.coloursPalette__display, .coloursUsage__display {
    display: flex;
    justify-content: center;
    gap: 3em;
}
.coloursPalette__display > img:hover {
    transform: scale(1.1); 
}