* {
    margin: 0;
    padding: 0;
    font-family: "Futura-Condensed", Futura, sans-serif;
}

/** header **/

header {
    background-color: rgb(180, 78, 239);
    color: black;
    padding: 20px;
}

.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-around;
}

.nav-menu li {
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}
.logo_page_title {
    height: 20px;
    margin-left: 785px;
    margin-top: 80px;
    font-size: 30px;
    font-weight: 300;
}


.logo_image{
    width: 250px;
    height: 255px;
    margin-left: 700px;
    margin-top: 100px;
}

.logo_description {
    font-size: 23px;
    margin-left: 300px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
.first_symbol {
    width: 1200px;
    margin-left: 300px;
    font-size: 20px;
    font-weight: bold;
}

.second_symbol {
    width: 1200px;
    margin-left: 300px;
    font-size: 20px;
    font-weight: bold;
}
.logo_meaning {
    width: 1200px;
    font-size: 20px;
    margin-left: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
.logo_color_description {
    width: 1200px;
    font-size: 20px;
    margin-left: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
.logo_variants_title {
    font-size: 25px;
    margin-left: 300px;
    margin-top: 150px;
}
.logo_variants_p{
    width: 1200px;
    font-size: 20px;
    margin-left: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
.logo_variant_one {
    width: 250px;
    height: 255px;
    margin-left: 300px;
    margin-top: 120px;
}
.logo_variant_two {
    width: 250px;
    height: 255px;
    margin-left: 100px;
    margin-top: 100px;
}
.logo_variant_three {
    width: 195px;
    height: 200px;
    margin-left: 150px;
    margin-bottom: 20px;
    
}
.logo_sizing {
    font-size: 25px;
    margin-left: 300px;
    margin-top: 150px;
}
.logo_min_sizing {
    width: 95px;
    height: 100px;
    margin-left: 300px;
}
.logo_min_sizing_description {
    width: 1200px;
    font-size: 20px;
    margin-left: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}